.backPopUp {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.PopUp {
  background-color: #ffffff;
  border-radius: 5px;
  width: 50%;
  max-width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.PopUpWindow {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonPopUp {
  padding-top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.confirmButton {
  border: 3px solid rgb(164, 224, 73);
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  width: 120px;
  color: rgb(12, 143, 12);
  background-color: rgb(255, 255, 255);
}
.confirmButton:hover {
  background-color: rgb(207, 243, 204);
}
.cancelButton {
  border: 3px solid red;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  width: 120px;
  color: rgb(143, 12, 12);
  background-color: rgb(255, 255, 255);
}
.cancelButton:hover {
  background-color: rgb(247, 144, 144);
}
