.App {
  align-items: center;
  width: 100%;
  min-height: 969px;
  height: 100%;
  background-color: rgb(163, 163, 163);
}
.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}
.MainContent {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 70px);
  width: 100%;
}
.noteList {
  width: 20%;
  height: 100%;
}
.content {
  width: 80%;
  height: 100%;
}
.contentText {
  width: calc(100% - 15px);
  height: 885px;
}
