.App {
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(242, 247, 252);
}
.MainContent {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 75.7px);
  width: 100%;
}
.noteList {
  width: 20%;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  border: 3px solid rgb(211, 204, 204);
  overflow-y: auto;
}
.noteList::-webkit-scrollbar {
  background-color: aliceblue;
  width: 20px;
  border-radius: 10px;
}
.noteList::-webkit-scrollbar-thumb {
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(163, 153, 153);
}

@media (max-width: 1000px) {
  .noteList {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(242, 247, 252);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    overflow-y: auto;
  }
}
